<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Student Management</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .card {
            padding: 10px;
        }

        .full-height {
            height: 100vh;
        }

        .half-height {
            height: 50vh;
            overflow-y: auto;
        }

        .admin-panel {
            height: 100vh;
        }
    </style>

</head>

<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="text-light">
        <span th:text="${loggedInUser.name}"></span>
        <span th:text="${loggedInUser.lastName}"></span>
    </div>
    <form class="form-inline" th:action="@{/logout}" th:method="POST">
        <button class="btn btn-outline-dark my-2 my-sm-0 text-light" type="submit">Logout</button>
    </form>
</nav>
<div class="container-fluid 100vh">



                   <div class="container">
                        <h1>Admin panel</h1>
                        <div class="card-header">
                            <h2>All Students</h2>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Last Name</th>
                                    <th>Degree</th>
                                    <th>Roles</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody id="studentsTableBody">

                                </tbody>

                            </table>

                        </div>
                    </div>


                    <div class="container">
                        <h3>Add New Student</h3>
                        <form id="addStudentForm">
                            <div class="form-group text-center">
                                <label for="name">Enter name</label>
                                <input type="text" id="name" required/>
                            </div>
                            <div class="form-group text-center">
                                <label for="lastName">Enter Lastname</label>
                                <input type="text" id="lastName" required/>
                            </div>
                            <div class="form-group text-center">
                                <label for="degree">Enter degree</label>
                                <input type="text" id="degree" required/>
                            </div>
                            <div class="form-group text-center">
                                <label for="password">Enter Password</label>
                                <input type="password" id="password" required/>
                            </div>
                            <div class="form-group text-center">
                                <label for="roles">Roles</label>
                                <select id="roles" multiple>


                                </select>
                            </div>
                            <div class="text-center">
                                <button type="button" id="createBtn" class="btn btn-success">Add</button>
                                <button type="button" id="cancelCreateBtn" class="btn btn-secondary">Cancel</button>
                            </div>
                        </form>
                </div>


                    <div class="container">
                        <h3>Edit Student</h3>
                        <form id="editStudentForm">
                            <input type="hidden" id="editId"/>
                            <div class="form-group text-center">
                                <label for="editName">Name</label>
                                <input type="text" id="editName" required/>
                            </div>
                            <div class="form-group text-center">
                                <label for="editLastName">Last Name</label>
                                <input type="text" id="editLastName" required/>
                            </div>
                            <div class="form-group text-center">
                                <label for="editDegree">Degree</label>
                                <input type="text" id="editDegree" required/>
                            </div>
                            <div class="form-group text-center">
                                <label for="editPassword">Password</label>
                                <input type="password" id="editPassword" required/>
                            </div>
                            <div class="form-group text-center">
                                <label for="editRoles">Roles</label>
                                <select id="editRoles" multiple>

                                </select>
                            </div>
                            <div class="text-center">
                                <button type="button" id="updateBtn" class="btn btn-primary">Update</button>
                                <button type="button" id="cancelEditBtn" class="btn btn-secondary">Cancel</button>
                            </div>
                        </form>
                    </div>


</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{../static/js/main.js}" type="text/javascript">

</script>
</body>
</html>


